NEXTCLOUD_URL=*Your Nexcloud URL*
NEXTCLOUD_USER=*Your Nextcloud Username*
NEXTCLOUD_PASS=*Your Nextcloud Password*
NEXTCLOUD_DIR=*Subdirectory to be scanned. Use "/" for everything.*
OPENROUTER_API_KEY=*Your OpenRouter API Key*
GOOGLE_APP_PASSWORD=*Your google app password without spaces*
EMAIL_ADDRESS=*Your Email Address which is used to send mails*
ADMIN_MAIL=*Your own Email Address which receives Admin Mails*